.navbar {
  background-color: rgb(80, 53, 3);
}

.navbar-right {
  margin-right: 2rem;
}

#rand_recipe {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

#rand_title {
  text-align: center;
}

#rand_img {
  min-width: 300px;
  min-height: 300px;
}

#rand_ing {
  list-style: none;
  flex-direction: column;
}

#rand_instruct {
  margin: 1rem;
}

#rand_h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#fav-thumb {
  width: 200px;
  height: 200px;
}

html body {
  background-color: rgba(96, 73, 6, 50%);
}

h4,
div a {
  text-decoration: none;
}

#signup {
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  box-shadow: 5px 5px black;
  background-color: #3a2c045e;
  border-radius: 3px;
  padding: 1rem;
}

#login {
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  box-shadow: 5px 5px black;
  background-color: #3a2c045e;
  padding: 1rem;
}

#filter {
  margin: auto;
  margin-bottom: 2rem;
  width: 40%;
  text-align: center;
}

#rand_instruct {
  list-style: none;
  text-align: start;
}

.thumb {
  width: 200px;
  height: 200px;
  display: inline-block;
}

#fav_card {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 55%;
  justify-content: space-between;
}

#card_img {
  width: auto;
  height: 400px;
  max-width: 400px;
}

#card_ing {
  /* flex-wrap: wrap; */
  list-style: none;
  text-align: left;
}

#fav_title {
  text-align: center;
}

.remove {
  text-align: center;
}

button {
  border-radius: 20px;
}

#login a {
  color: white;
}
