body{
  font-family: 'Cardo', serif;
}

#card_img{
  margin: 0 100px 100px 50px;
  width: 50%;
  border-radius: 50px;
}

#recipe_card{
  margin: 30px 50px 0 50px;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  background-color: antiquewhite;
  border-radius: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 30px 0 45px 0;
}

.mealName{
  text-align: center;
  padding: 30px 0 45px 0;
  font-size: 58px;
}

form{
  justify-content: center;
}

.navbar-brand{
  height: 55px;
}

nav{
  font-size: 25px;
  background-color: rgb(150, 65, 65);
  padding-left: 10px;
  padding-right: 10px;
}

nav a{
  color: antiquewhite;
}

.favs-thumbnail{
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

#fav-thumbs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
