{% extends 'base.html' %}{% block title %}{% endblock %}{% block content %}
<form id="login" method="POST" class="row">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <div class="row-cols-1">
    {{field.label(class_='form-label')}} {{field(class_='form-control')}} {% for
    err in field.errors %} {{err}} {% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-primary">Login</button>
  <a href="/signup">Need to signup?</a>
</form>
{% endblock %}
