{% extends 'base.html' %} {% block title %}
<h1 class="display-2" id="rand_h1">Random Recipe</h1>
{% endblock %} {% block content %}
<form id="filter" method="POST" class="row g-3">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <div class="col-auto">
    <b>{{field.label(class_='form-label')}}</b> 
  </div>
  <div class="col-auto">
    {{field(class_='form-control form-control-sm')}}
  </div>
  {% endfor %}
  <div class="col-auto">
    <button class="btn btn-primary btn-sm">Filter</button>
  </div>
</form>
<div id="rand_recipe">
  <h4 id="rand_title" class="display-4">
    <i>{{resp['meals'][i]['strMeal']}}</i>
    <a id="like_meal" href="/liked/{{api_id}}"><small>&#10084</small></a>
  </h4>
  <img
    id="rand_img"
    src="{{resp['meals'][i]['strMealThumb']}}"
    alt="recipe image"
    class="card-img-top"
  />
  <ul></ul>
  <div id="rand_instruct">
    {% for step in steps %}
      <p>{{step}}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
