{% extends 'base.html' %}{% block title %}{% endblock %} {% block content %}

<form id="signup" method="POST" novalidate>
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <div class="row-cols-1">
    {{field.label(class_='form-label')}} {{field(class_='form-control')}}
  </div>
  <div class="row-cols-1">
    {% for err in field.errors %} {{err}} {% endfor %}
  </div>
  {% endfor %}
  <br />
  <button class="btn btn-primary">Signup!</button>
</form>

{% endblock %}
